
body{
    background-color:rgba(226, 202, 245, 0.377);
}
img{
    width:190px;
    height:190px;
}
.row{
    background-color: darkslateblue;
    font-family: cursive;
    color:aliceblue;
}
#grape{
    background-color: indigo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:aliceblue;
}
li{
    color:rgb(51, 50, 97);
}
th{
    color:azure;
}
#mango{
    color:aliceblue;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    color:white;
}
header{
    color:red !important;
    font-size:40px;
    font-family:fantasy;
    text-align:center;
}
.main-heading{
    color:white
    text-align:center;
}